
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/Untitled.ipynb
code/.ipynb_checkpoints/BIC_AIC-checkpoint.r
code/.ipynb_checkpoints/Untitled-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.ipynb_checkpoints/BeSS-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.ipynb_checkpoints/AIC_BIC-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.ipynb_checkpoints/AIC_BIC-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.ipynb_checkpoints/AIC_BIC-checkpoint.ipynb
dataset/.Rhistory
code/.ipynb_checkpoints/Mallow's cp-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.Rhistory
code/.ipynb_checkpoints/Summary-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
