
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/Untitled.ipynb
code/.ipynb_checkpoints/BIC_AIC-checkpoint.r
code/.ipynb_checkpoints/Untitled-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.ipynb_checkpoints/BeSS-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.ipynb_checkpoints/AIC_BIC-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.ipynb_checkpoints/AIC_BIC-checkpoint.ipynb
code/.ipynb_checkpoints/Module2-checkpoint.ipynb
code/.ipynb_checkpoints/AIC_BIC-checkpoint.ipynb
